<div class="container text-left col-lg-6">

    <form class="" action="/api/login" method="post">
        <h1>Login</h1>
        <div class="mb-3">
            <label class="form-label" for="username">Username</label><br />
            <input class="form-control" id="username" type="text" /><br />
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">Password:</label><br />
            <input class="form-control" id="username" type="text" /><br />
        </div>
        <div class="d-flex justify-content-around">
            <button type="submit">Login</button>
            <a href="/api/signup">Sign up!</a>

            {{!-- TODO: CREATE SIGNUP PAGE --}}
        </div>
    </form>
</div>