<div class="container col-8">
    <form class="addblog-form row g-2 justify-content-center">
        <h1 class="text-center">Add a blog post</h1>
        <label for="blog-title">Title</label>
        <input id="blog-title" type="text" name="blog-title"><br>

        <label for="blog-text">Description</label>
        <input name="blog-text" id="blog-text">
        <button id="add-blog" class="btn btn-primary col-2">Save</button>   
    </form>
</div>
<script src="./js/saveblog.js"></script>