:root {
    --bgColor: #e7f6f2;
    --light: #a5c9ca;
    --medium: #395b64;
    --dark: #2c3333;
    --mouseOver: #294249;
}

p{
    color:var(--dark);
}

html {
    position: relative;
    min-height: 100%;
}

header {
    padding: 10px 20px;
    background-color: var(--dark);
}

body {
    margin: 0 0 100px;
    background-color: var(--bgColor);
}

footer {
    text-align: center;
    color: var(--light);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 64px;
    padding-top: 10px;
    width: 100%;
    overflow: hidden;
    background-color: var(--medium);
}

textarea:focus {
    outline: 2px solid var(--medium);
}

.nav-link {
    color: var(--bgColor);
    font-size: large;
}

.nav-link:hover {
    color: var(--light);
}

.logo {
    font-family: "Silkscreen", cursive;
    color: var(--bgColor);
}

.card-title {
    font-weight: bold;
}

.card-header,
.card-subtitle,
.card-header a {
    color: var(--light);
    background-color: var(--medium);
    text-decoration: none;
}

.blog-post {
    background-color: var(--light);
}

.blog-post a {
    text-decoration: none;
    color: var(--dark);
}

.btn {
    background-color: var(--medium);
    border: none;
}

.btn:hover {
    background-color: var(--mouseOver);
}

#login {
    cursor: pointer;
}

#logout {
    cursor: pointer;
}
