header{
    padding: 10px 20px;
    background-color:#9EB23B;
}

body {
    margin: 0;
  }

#add-post{
    background-color: #9EB23B;
    border: none;
}

#login{
    cursor: pointer;
}

#logout{
    cursor: pointer;
}
